<ul class="book-list">
  <li *ngFor="let b of books">
    <div>
      <img *ngIf="b.thumbnailUrl" [src]="b.thumbnailUrl" alt="Cover">
      <div class="overview">
        <h2>{{ b.title }}</h2>
        <h3 *ngIf="b.subtitle">{{ b.subtitle }}</h3>
        <div class="authors">
          <ng-container *ngFor="let author of b.authors; last as l">
            {{ author }}<ng-container *ngIf="!l">, </ng-container>
          </ng-container>
        </div>
        <div>ISBN {{ b.isbn }}</div>
      </div>
    </div>
  </li>
  <li *ngIf="!books.length">
    No books available.
  </li>
</ul>
